html {
  max-width: 60ch;
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + .5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: monospace
}

/* increase line-height for everything except headings */
body :not(:is(h1,h2,h3,h4,h5,h6)) {
  line-height: 1.15;
}

.race-heading {
  margin-bottom: 0px;
}

.name {
  font-weight: bold;
}

.trailing-context {
  font-weight: normal;
  font-size: 1rem;
  color: #999;
}

.cell {
  min-width: 10rem;
}

.countdown {
  text-align: right;
  min-width: 10.5rem;
  padding-right: 1rem;
}