* {
	font-family: courier, monospace;
	background: rgb(30,30,30);
  color: rgb(216, 216, 216);
  font-size: large;
} 
.races {
  display: flex;
  flex-direction: column;
  /* border: 1px dotted red; */
  max-width: 640px;
  justify-content: center;
}
.race_name {
  font-weight: bold;
  text-align: left;
  padding-top: 1ch;
  /* border: 1px solid yellow; */
}
.race_details {
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
  column-gap: 10px;
}
.session_names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid purple; */
  min-width: 7ch;
}
/* .timers {
  border: 1px solid orange;
} */