* {
	font-family: courier, monospace;
	background: black;
  color: rgb(216, 216, 216);
  font-size: large;
} 
.title_1 {
  font-size: xx-large;
  color: rgb(216, 216, 216);
}
.title_2 {
  font-size: xx-large;
  color: red;
}
.race {
  font-weight: bold;
}
.race_name {
  font-weight: bold;
}
.flex-container {
  display: flex;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
}