* {
  padding: 0px;
  margin: .1em;
}

body {
  color: white;
  background-color: #123;
  font-family: monospace;
}

p {
  padding-bottom: 1em;
}

.first-col {
  min-width: 10em;
}

.second-col {
  min-width: 12em;
  text-align: right;
}

.third-col {
  min-width: 11em;
  text-align: right;
}

table {
  padding-bottom: 1em;
}