<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<title>formulawhen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    <h1>
      <span style="color:deeppink;">formula</span><!--
    --><span style="color:palegreen;">when</span>
    </h1>
    <h2>When is F1 on again?</h2>
    {% for location, sessions in sessions.items() %}
      <h3>{{ location }}</h3>
      {% for session, times in sessions.items() %}
      <p>{{session.lower()}} {{ times[0] }}</p>
      {% endfor %}
    {% endfor %}
  </body>
</html>
