<!DOCTYPE html>
<html>

<head>
    <title>FormulaWhen</title>
    <link rel="stylesheet" href="static/styles.css" />
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <h2>F1 2023 Schedule<span class="trailing-context"> all times UTC</span></h2>
    {{ range .Races}}
    <h3 class="race-heading">
        <span class="name">{{ .Name }}</span>
        <span class="trailing-context"> {{ .Location }}</span>
    </h3>
    <table>
        <tbody>
            {{ range .Sessions }}
            <tr>
                <td class="cell session">{{ .Name }}</td>
                <td class="cell start-time">{{ .StartTime.Format "2006-01-02 15:04" }}</td>
                <td class="cell countdown" stype="white-space: pre;"
                    id='countdown-{{ .StartTime.Format "200601021504" }}'>{{ .TimeUntilString }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    {{ end }}

    <script src="js/countdowns.js"></script>
    <script>
        var calendar = "{{ . }}";
        console.log(typeof calendar);
    </script>
</body>

</html>